h1 {
   font-size: 75px;
}

h2 {
   font-size: 30px;
}

p {
   font-size: 18px;
}

body {
   color: #ffffff;
   background-color: #000000;
   font-family: "Nata Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 100;
   font-style: normal;
}

.Intro {
   background-image: linear-gradient(45deg, #19181c, #534590);
   background-repeat: no-repeat;
   background-size: 100vw, 50vh;
   margin-top: 25vh;
   margin-bottom: 35vh;
}

.Intro .about-me-title {
   padding-top: 10vh;
   padding-left: 20vw;
   padding-right: 20vw;
}
.Intro .about-me-text {
   padding-bottom: 10vh;
   padding-left: 20vw;
   padding-right: 20vw;
}

/* project section */
.portfolio .left-centered-header {
   padding-left: 200px;
}
.portfolio .horiz-list {
  display: flex;
  justify-content: space-evenly; /* or space-between / space-around */
  padding: 20px;
  padding-bottom: 75px;
}
.portfolio .horiz-list img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.portfolio .horiz-list div {
  max-width: 500px;
  padding: 10px 20px;
  border-radius: 4px;
}
.portfolio .horiz-list a {
    color: #FFFFFF;
}


/* skills section */
.skills {
   background-image: linear-gradient(135deg, #19181c, #534590);
   padding-bottom: 60px;
   padding-top: 30px;
}
.skills .left-centered-header {
   padding-left: 10vw;
   padding-right: 10vw;
}
.skills-list {
   font-size: 20px;
   padding-left: 15vw;
   padding-bottom: 6vh;
}

/* jobs section */
.experiences {
  padding-top: 80px;
  padding-bottom: 80px;
}
.experiences .left-centered-header {
   padding-left: 10vw;
   padding-right: 10vw;
}
.experiences .individual-job {
  display: flex;
  gap: 5%;
  margin-bottom: 60px;
}

.experiences .individual-job .column {
  flex: 1;
  padding: 100px;
  /* justify-content: center; <-- did not do anything. */
}


/* education section */
.education {
   background-image: linear-gradient(45deg, #19181c, #534590);
   padding-top: 20vh;
   padding-bottom: 20vh;
   display: flex;
   justify-content: space-evenly;
}
.education .column {
   padding-left: 15%;
   width: 40%;
}


/* songs section */
.songs .left-centered-header {
   padding-left: 10vw;
   padding-right: 10vw;
}
.songs .spotify-wrapper {
   width: 50vw;
   height: 50vh;
   display: flex; /* important to make it stretchable ig? */
   justify-content: center;
   padding-bottom: 6vh;
   margin: 0 auto; /* makes it centered*/
}


/* contact me section */
.contact {
   background-image: linear-gradient(180deg, #19181c, #534590);
}

.contact .left-centered-header {
   padding-top: 7vh;
   padding-left: 10vw;
}

.contact .horiz-list {
  display: flex;
  justify-content: space-evenly; /* or space-between / space-around */
  padding: 3vw;
  padding-bottom: 6vw;
}

.contact .horiz-list div {
  padding: 10px 20px;
  border-radius: 4px;
}

.contact .horiz-list a {
   color: #FFF;
}


/* mobile settings */
@media screen and (max-width: 956px){
   /*intro*/
   .Intro {
      padding-top: 25vh;
      padding-left: 10vw;
      padding-right: 10vw;
      padding-bottom: 25vh;
      background-size: cover;
      background-position: center;    
      text-align: center;
   }

   /*portfolio*/
   .portfolio .left-centered-header {
      padding-left: 10vw;
      padding-right: 10vw;
   }
   .portfolio .horiz-list {
      display: grid;
      justify-content: space-evenly; /* or space-between / space-around */
      padding: 20px;
      padding-bottom: 75px;
   }
   .portfolio .horiz-list img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
   }
   .portfolio .horiz-list div {
      max-width: 500px;
      padding: 10px 20px;
      border-radius: 4px;
   }
   .portfolio .horiz-list a {
      color: #FFFFFF;
   }


   /* top skills */
   .skills .left-centered-header {
      text-align: center;
   }
   

   /* experiences */
   .experiences .left-centered-header {
      padding-left: 0vw;
      padding-right: 0vw;
      text-align: center;
   }
   .experiences .individual-job {
      text-align: center;
      display: grid;
      gap: 0px;
      margin-bottom: 0px;
   }
   .experiences .individual-job .column {
      text-align: left;
      padding: 3vh;
   }

   /* education section */
   .education {
      display: grid;
      justify-items: center;
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 10vh;
   }
   .education .column {
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
   }
   .education .column .col-list {
      justify-content: left;
      text-align: left;
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }


   /* favorite songs */
   .songs .left-centered-header {
      text-align: center;
      padding-left: 10vw;
      padding-right: 10vw;
   }

   /* contact me section */
   .contact .horiz-list {
      display: grid;
      text-align: center;
      justify-content: space-evenly; /* or space-between / space-around */
   }
}