h1 {
   font-size: 75px;
}

h2 {
   font-size: 30px;
}

p {
   font-size: 18px;
}

/* relevant for everything */
body {
   color: #ffffff;
   background-color: #000000;
   font-family: "Nata Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 100;
   font-style: normal;

}

.intro-page {
   padding-bottom: 3vh;
   padding-left: 3vw;
   padding-right: 3vw;

   height: 100vh;               /* 100% of the viewport height */
   background-image: url("background.jpg");
   background-size: cover;      /* Scale image to fill */
   background-position: center;
   background-repeat: no-repeat;

   display: flex;               /* Optional: center content */
   align-items: center;
   justify-content: center;
   color: white;
}


.about {
   padding-left: 10vw;
   padding-right: 10vw;
   padding-top: 35vh;
   padding-bottom: 35vh;
}


/* portfolio (projects) section */

/* title */
.portfolio .left-centered-header {
   padding-left: 200px;
}

/* for each of the individual projects (each is a horiz-list)*/
.portfolio .horiz-list {
  display: flex;
  justify-content: space-evenly; /* or space-between / space-around */
  padding: 20px;
  padding-bottom: 75px;
}

/* for whole image gallery  */
.portfolio .horiz-list .horiz-list-gallery {
   white-space: nowrap;
   grid-template-columns: auto auto;
   grid-gap: 20px;
   padding: 10px;
   overflow-x: scroll;
}

/* for the individual images */
.portfolio .horiz-list .horiz-list-gallery img {
    height: 400px;      /* pick your desired constant height */
    width: auto;        /* let width scale */
    flex: 0 0 auto;     /* prevent flexbox from stretching/shrinking them */
    object-fit: cover;  /* optional: crop to fill the height nicely */
}

/* for the scrollbar */
.portfolio .horiz-list .horiz-list-gallery::-webkit-scrollbar {
  height: 12px;
}
.portfolio .horiz-list .horiz-list-gallery::-webkit-scrollbar-track {
   background-color: transparent;
   border: 1.5px solid #fff;
   border-radius: 8px;
}
.portfolio .horiz-list .horiz-list-gallery::-webkit-scrollbar-thumb {
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #534590), color-stop(1, #342E54));
   border-radius: 8px;
}

/* meant to affect the text*/
.portfolio .horiz-list div {
  max-width: 500px;
  padding: 10px 20px;
  border-radius: 4px;
}
.portfolio .horiz-list a {
   /* makes sure that the github hyperlink is white not blue*/
    color: #FFFFFF;
}


/* skills section */
.skills {
   background-image: linear-gradient(135deg, #19181c, #534590);
   padding-bottom: 60px;
   padding-top: 30px;
}
.skills .left-centered-header {
   padding-left: 10vw;
   padding-right: 10vw;
}
.skills-list {
   font-size: 20px;
   padding-left: 15vw;
   padding-bottom: 6vh;
}

/* jobs section */
.experiences {
  padding-top: 80px;
  padding-bottom: 80px;
}
.experiences .left-centered-header {
   padding-left: 10vw;
   padding-right: 10vw;
}
.experiences .individual-job {
  display: flex;
  gap: 5%;
  margin-bottom: 60px;
}

.experiences .individual-job .column {
  flex: 1;
  padding: 100px;
  /* justify-content: center; <-- did not do anything. */
}


/* education section */
.education {
   background-image: linear-gradient(45deg, #19181c, #534590);
   padding-top: 20vh;
   padding-bottom: 20vh;
   display: flex;
   justify-content: space-evenly;
}
.education .column {
   padding-left: 15%;
   width: 40%;
}


/* songs section */
.songs .left-centered-header {
   padding-left: 10vw;
   padding-right: 10vw;
}
.songs .spotify-wrapper {
   width: 50vw;
   height: 50vh;
   display: flex; /* important to make it stretchable ig? */
   justify-content: center;
   padding-bottom: 6vh;
   margin: 0 auto; /* makes it centered*/
}


/* contact me section */
.contact {
   background-image: linear-gradient(180deg, #19181c, #534590);
}

.contact .left-centered-header {
   padding-top: 7vh;
   padding-left: 10vw;
}

.contact .horiz-list {
  display: flex;
  justify-content: space-evenly; /* or space-between / space-around */
  padding: 3vw;
  padding-bottom: 6vw;
}

.contact .horiz-list div {
  padding: 10px 20px;
  border-radius: 4px;
}

.contact .horiz-list a {
   color: #FFF;
}


/* mobile settings */
@media screen and (max-width: 956px){
   /*intro*/
   .intro-page {
      
      background-image: url("mobile background.jpg");
      background-size: contain;      /* Scale image to fill */
      background-position: center;
      background-repeat: no-repeat;

      display: flex;               /* Optional: center content */
      align-items: center;
      justify-content: center;
      color: white;
   }
   .about {
      padding: 0;
      padding-top: 35vh;
      padding-bottom: 35vh;
      text-align: center;
      font-size: 14px;
      margin: 0px;
      box-sizing: border-box;
   }
   .about h1 {
      font-size: 70px;
   }

   /*portfolio*/
      /* put the header back */
      .portfolio .left-centered-header {
         text-align: center;
         padding-left: 10vw;
         padding-right: 10vw;
      }
      .portfolio .horiz-list {
         display: flex;
         flex-direction: column;
      }

   /* top skills */
   .skills .left-centered-header {
      text-align: center;
   }
   
   /* experiences */
   .experiences .left-centered-header {
      padding-left: 0vw;
      padding-right: 0vw;
      text-align: center;
   }
   .experiences .left-centered-header h1 {
      font-size: 70px;
   }
   .experiences .individual-job {
      text-align: center;
      display: grid;
      gap: 0px;
      margin-bottom: 0px;
   }
   .experiences .individual-job .column {
      text-align: left;
      padding: 3vh;
   }

   /* education section */
   .education {
      display: grid;
      justify-items: center;
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 10vh;
   }
   .education .column {
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
   }
   .education .column .col-list {
      justify-content: left;
      text-align: left;
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }


   /* favorite songs */
   .songs .left-centered-header {
      text-align: center;
      padding-left: 10vw;
      padding-right: 10vw;
   }

   /* contact me section */
   .contact .horiz-list {
      display: grid;
      text-align: center;
      justify-content: space-evenly; /* or space-between / space-around */
   }
}